<section class="metrics">
  <div class="metrics-container">
    <div class="metric">
      <div class="metric-icon-bg">
        <img src="assets/images/img_install.svg" alt="Installation Icon" class="metric-icon" />
      </div>
      <div class="metric-mobile">
        <div class="metric-number">500+</div>
        <div class="metric-text">Installations Across the UK</div>
      </div>
    </div>
    <div class="metric">
      <div class="metric-icon-bg">
        <img src="assets/images/img_experience.svg" alt="Experience Icon" class="metric-icon" />
      </div>
      <div class="metric-mobile">
        <div class="metric-number">15+</div>
        <div class="metric-text">15+ Years of Experience</div>
      </div>
    </div>
    <div class="metric">
      <div class="metric-icon-bg">
        <img src="assets/images/img_trust.svg" alt="Trust Icon" class="metric-icon" />
      </div>
      <div class="metric-mobile">
        <div class="metric-number">30+</div>
        <div class="metric-text">Trusted by Residential & Commercial Clients</div>
      </div>
    </div>
  </div>
</section> 